* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c0c0c0;
  padding: 10px;
  display: flex;
  color: #381e49;
  gap: 10px;
}

.resume {
  width: 210mm;
  min-height: 297mm;
  padding: 15px;
  margin: 15px auto;
  background: #fff;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  border-radius: 1em;
  border-width: 5px;
  border-style: solid;
  border-color: #c0c0c0;
}
.header {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 160px;
}
.header-content {
  padding-left: 0px;
  align-items: center;
  justify-content: start;
  color: #381e49;
}

.header-content img {
  border-radius: 1em;
  margin: 10px;
}

.header-content h1 {
  font-size: 1.8em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

section h2 {
  color: #007bff;
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

pre {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  display: block;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding-left: 20px;
  display: flex;
}
footer img {
  width: 8em;
  height: 8em;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
