* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e9e9e9;
  color: #381e49;
}

.resume {
  width: 210mm;
  min-height: 297mm;
  margin: 0px auto;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  display: flex;
}
.left-column {
  width: 35%;
  background: #000;
  color: #fff;
  padding: 15px;
}
.right-column {
  width: 65%;
  padding: 15px;
}
section {
  padding: 10px;
}

.header-content {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  padding: 70px;
}
h1 {
  font-size: 55px;
  margin-bottom: 30px;
}

.header-content img {
  border-radius: 1em;
  margin: 10px;
}

section h2 {
  color: #007bff;
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
  padding: 5px 0px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-content-mobile {
  display: none;
}
